version: '3.8'

services:
  coturn:
    image: coturn/coturn
    restart: always
    ports:
      - "3478:3478/tcp"
      - "3478:3478/udp"
      - "49160-49200:49160-49200/udp"
    command:
      - -n
      - --log-file=stdout
      - --min-port=49160
      - --max-port=49200
      - --realm=demo-voicechat.quasarity.com
      - --user=user:password
      - --lt-cred-mech
      - --fingerprint
      - --no-tls
      - --no-dtls
      - --external-ip=demo-voicechat.quasarity.com

  server:
    build:
      context: ../..
      dockerfile: examples/simple-group-chat/server/Dockerfile
    environment:
      - TURN_URL=turn:demo-voicechat.quasarity.com:3478
      # - TURN_URL=stun:stun.l.google.com:19302
      - TURN_USERNAME=user
      - TURN_CREDENTIAL=password
    depends_on:
      - coturn

  client:
    build:
      context: ../..
      dockerfile: examples/simple-group-chat/client/Dockerfile
    depends_on:
      - server

  nginx:
    image: nginx:alpine
    ports:
      - "5173:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - client
      - server
